<div class="article-comments-index mt-4">
  <h4>Commentaires à approuver:</h4>
  <hr>
  <% Comment.all.select{|c| c.approved == false }.each do |comment| %>
    <div id="comment-index" class="single-comment-container">
      <div class="name-and-date-coms">
        <p><b><%= comment.name %></b></p>
        <p class="text-muted"><i class="far fa-calendar"></i> <%= comment.created_at.strftime('%d/%m/%Y') %></p>
      </div>
      <div class="comment-text">
        <p><i>"<%= comment.comment  %>"</i></p>
      </div>
      <div class="approval-section">
        <%= link_to "Approve", comments_path, class:"badge badge-success"  %>
        <%= link_to "Ban", comments_path, class:"badge badge-danger"  %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
