<div class="container text-center mb-5 row d-flex flex-row">
    <%= form_tag(articles_path, method: "get", class:"d-flex col-10") do %>
      <div class="col-12">
        <%= text_field_tag :query, params[:query], placeholder: "Rechercher article", class:"form-control form-control-md" %>
      </div>
      <div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
      </div>
    <% end %>
</div>

<% if params[:category].present? %>
  <div class="d-flex mx-auto mb-5">
    <h5 class="category-title mr-2">CATÉGORIE:</h5>
    <h5><%= params[:category].upcase %></h5>
  </div>

<% end %>


<% @articles.each do |article| %>
<div class="my-3">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center mx-auto mb-3">
    <%= link_to "#{article.category_list.first}", articles_path(category: article.category_list.first), class:"category-link" %>
    <h1 class="mt-4"><%= link_to "#{article.title.capitalize}", article_path(article) %></h1>
  </div>
  <div class="col-sm-11 col-md-11 col-lg-10 mx-auto">
    <div class="coms-and-date">
      <p><i class="far fa-calendar"></i> <%= article.created_at.strftime('%d/%m/%Y')%> </p>
      <% if article.comments.select(&:approved).empty? %>
        <p><i class="far fa-comment-alt"></i> Aucun commentaire</p>
      <% elsif article.comments.select(&:approved).length == 1 %>
        <p><i class="far fa-comment-alt"></i> 1 commentaire</p>
      <% elsif article.comments.select(&:approved).length > 1 %>
        <p><i class="far fa-comment-alt"></i> <%= article.comments.select(&:approved).count %> commentaires</p>
      <% end %>
    </div>
    <p class="text-justify mt-3"><%= article.foreword %></p>
  </div>
<hr class="mt-5">
</div>
<% end %>
