<% if params[:category].present? %>
  <div class="d-flex mx-auto mb-5">
    <h5 class="category-title mr-2">CATÉGORIE:</h5>
    <h5><%= params[:category].upcase %></h5>
  </div>

<% end %>

<% @articles.each do |article| %>
<div class="my-3">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center mx-auto mb-3">
    <%= link_to "#{article.category_list.first}", articles_path(category: article.category_list.first), class:"category-link" %>
    <h1 class="mt-4"><%= link_to "#{article.title.capitalize}", article_path(article) %></h1>
  </div>
  <div class="col-sm-11 col-md-11 col-lg-10 mx-auto">
    <div class="coms-and-date">
      <p><i class="far fa-calendar"></i> <%= article.created_at.strftime('%d/%m/%Y')%> </p>
      <p><i class="far fa-comment-alt"></i> Aucun commentaire</p>
    </div>
    <p class="text-justify mt-3"><%= article.foreword %></p>
  </div>
<hr class="mt-5">
</div>
<% end %>
