<%= link_to :back, class:"return-btn" do %>
  <i class="fas fa-arrow-left"></i> Retour
<% end %>
<div class="title-container">
  <%= link_to "#{@article.category_list.first}", articles_path(category: @article.category_list.first) %>

  <h1><%= @article.title %></h1>
  <h4><%= @article.foreword %></h4>
</div>

<div class="article-main-img col-sm-12 col-md-10 col-lg-10 mx-auto">
  <%= cl_image_tag @article.photo.key, crop: :fill, class:"mx-auto" %>
</div>

<div class="article-body-container col-sm-11 col-md-9 col-lg-9">
  <p><%= @article.rich_body %></p>
</div>

<% if user_signed_in? %>
  <%= link_to 'Modifier', edit_article_path(@article), class:"btn btn-primary" %>
<% end %>


<div class="other-articles">
  <hr>
  <div class="d-flex justify-content-between">
    <div class="next-and-previous-articles text-left">
      <% if @article.prev.present? %>
        <%= link_to article_path(@article.prev), class:"d-flex" do %>
          <div><i class="fas fa-arrow-left mr-2"></i></div>
          <div><%= @article.prev.title %></div>
        <% end %>
      <% end %>
    </div>
    <div class="next-and-previous-articles text-right">
      <% if @article.next.present? %>
        <%= link_to article_path(@article.next), class: "d-flex" do %>
          <div><%= @article.next.title %></div>
          <div><i class="fas fa-arrow-right ml-2"></i></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr>
  <%= render 'shared/comments_form' %>
</div>
