  <%= link_to articles_path do %>
    <i class="fas fa-arrow-left"></i> Retour
  <% end %>
<div class="title-container">
  <%= link_to "#{@article.category_list.first}", articles_path(category: @article.category_list.first) %>

  <h1><%= @article.title %></h1>
  <h4><%= @article.foreword %></h4>
</div>

<div class="article-main-img col-sm-12 col-md-10 col-lg-10 mx-auto">
  <%= cl_image_tag @article.photo.key, crop: :fill, class:"mx-auto" %>
</div>

<div class="article-body-container col-sm-11 col-md-9 col-lg-9">
  <p><%= @article.rich_body %></p>
</div>

<% if user_signed_in? %>
  <%= link_to 'Modifier', edit_article_path(@article), class:"btn btn-primary" %>
<% end %>
<%= link_to articles_path do %>
  <i class="fas fa-arrow-left"></i> Retour
<% end %>
