<nav class="navbar navbar-expand-lg navbar-light bg-light mt-2" style="background-color: #ffffff !important;">
    <div class="navbar-left">
      <%= link_to root_path, class: "navbar-brand d-flex" do %>
        <% key = "mx1t9zdgzglh6ggga5nf" %>
          <%= cl_image_tag key, alt: "Les Problèmes Logo" %>
          <p class="logo-text">Télé-réalité, genre & sexualité</p>
        <% end %>
    </div>
    <div class="navbar-right">
      <%= link_to root_path, class: "navbar-brand d-flex" do %>
        <% key = "mx1t9zdgzglh6ggga5nf" %>
          <%= cl_image_tag key, alt: "Les Problèmes Logo" %>
          <p class="logo-text">Télé-réalité, genre & sexualité</p>
        <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
  <ul class="navbar-nav">
    <li class="nav-item"><%= link_to "Acceuil", root_path, class:"nav-link"  %></li>
    <li class="nav-item dropdown">
        <%= link_to "Articles", articles_path, class:"nav-link  dropdown-toggle", data: { toggle: "dropdown" }  %>
        <ul class="dropdown-menu dropdown-menu-right">
          <% categories =  Article.all.map(&:category_list).flatten.uniq %>
          <% categories.each do |category| %>
            <li><%= link_to "#{category.titleize}", articles_path(category: category), class:"dropdown-item" %></li>
          <% end %>
        </ul>
    </li>
    <li class="nav-item"><%= link_to "Manifeste", manifeste_path, class:"nav-link"  %></li>
    <li class="nav-item"><%= link_to "Contact", contact_path, class:"nav-link"  %></li>
  </ul>
    </div>
</nav>
