<div class="navbar navbar-expand-sm navbar-light navbar-main">
  <div class="navbar-logo">
    <%= link_to root_path, class: "navbar-brand" do %>
    <% key = "mx1t9zdgzglh6ggga5nf" %>
      <%= cl_image_tag key, alt: "Les Problèmes Logo" %>
    <% end %>
    <p>Télé-réalité, genre & sexualité</p>
  </div>

  <div class="navbar-right">
    <%= link_to "Acceuil", root_path, class:"navbar-titles"  %>
    <%= link_to "Articles", root_path, class:"navbar-titles"  %>
    <%= link_to "Manifeste", root_path, class:"navbar-titles"  %>
    <%= link_to "Contact", root_path, class:"navbar-titles"  %>
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>
