<div class="home-carousel mt-4">
  <% Article.all.each do |article| %>
    <div class="article-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path article.photo.key %>')">
      <div class="article-text">
        <h1><%= link_to "#{article.title}", article_path(article) %></h1>
        <p><%= article.foreword %></p>
        <div class="text-center mt-3">
          <%= link_to "LIS LA SUITE", article_path(article), class:"btn btn-primary carousel-btn"  %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="homepage-articles-container d-flex row col-sm-12 col-md-11 col-lg-11 mx-auto">
  <% ActsAsTaggableOn::Tag.most_used(3).each do |category| %>
    <div class="home-category-articles col-sm-12 col-md-6 col-lg-4 ">
      <%= link_to "#{category.name.titleize}", articles_path(category: category.name), class:"category-name"  %>
      <% if Article.tagged_with(category).length < 2 %>
        <% Article.tagged_with(category).each do |article| %>
          <h4 class="mt-2"><%= link_to "#{article.title}", article_path(article), class:"title-name" %></h4>
          <p class="article-date mb-1 mt-0"><i class="far fa-calendar"></i> <%= article.created_at.strftime('%d/%m/%Y') %></p>
          <div class="article-description mb-3">
            <p class="pr-3 mb-0"><%= article.foreword %></p>
          </div>
        <% end %>
      <% else %>
        <% Article.tagged_with(category).take(2).each do |article| %>
          <h4 class="mt-2"><%= link_to "#{article.title}", article_path(article), class:"title-name" %></h4>
          <p class="article-date mb-1 mt-0"><i class="far fa-calendar"></i> <%= article.created_at.strftime('%d/%m/%Y') %></p>
          <div class="article-description mb-3">
            <p class="pr-3 mb-0"><%= article.foreword %></p>
          </div>
        <% end %>
      <% end %>
      <% if Article.tagged_with(category).length > 2 %>
        <div class="text-right mr-3">
          <%= link_to "+ D'ARTICLES",  articles_path(category: category.name), class:"btn btn-primary carousel-btn" %>
        </div>
      <% end %>
      <hr>
    </div>
  <% end %>
</div>
<div class="col-12 text-center mt-3">
  <%= link_to "TOUS LES ARTICLES",  articles_path, class:"btn btn-primary carousel-btn btn-lg" %>
</div>
